<div id="view-port">
  <div id="container" class="container">
    <div id="side-nav" class="leftNav">
      <ul>
        <li><a routerLink=".">Movie Franchises</a></li>
        <li><a routerLink="star">Star Wars</a></li>
        <li><a routerLink="harry">Harry Potter</a></li>
      </ul>
    </div>
    <div id="content" class="content">
      <!-- Image movie.jpg sourced from https://pixabay.com/illustrations/movie-reel-projector-film-cinema-1673021/ -->
      <div class="image"><img [src]="'assets/movie.jpg' | assetUrl" alt="movies" width="150px" /></div>
      <div class="fragment"><router-outlet></router-outlet></div>
    </div>
  </div>
</div>
